<div class="content post">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Method</th>
        <th>Info</th>
      </tr>
    </thead>
    <tr>
      <td>email</td>
      <td><a href="mailto:tinderholmgene@gmail.com">tinderholmgene@gmail.com</a></td>
    </tr>
    <tr>
      <td>Form Submission</td>
      <td>Coming Soon</td>
    </tr>
  </table>
</div>
