<div class='row content' id='content'>
  <div class='col-md-5' id='pic-div'>
    <img height='200' src='/me.jpg'>
  </div>
  <div class='col-md-7' id='info-div'>
    <h1><strong>Gene Tinderholm</strong></h2>
    <hr>
    <h4>Software Developer</h2>
    <p>I am a software developer currently living in Minnesota. Current skills inlcude js/node, react, html5, css3, and mongodb, but I'm always willing to tackle something new.</p>
    <p>If you decide you need my help, drop me a line at: <a href='mailto:gene@tinderholm.com'>gene@tinderholm.com</a></p>
  </div>
</div>
  <script>
    $('#home').toggleClass('active');
  </script>
