<div class='content post' id='content'>
  <p>
    My first love was coding. Somewhere along the way I forgot that.
  </p>

  <p>
    My lowest point was in 2015. Really, the first 9 months of that year were all low points for me. But those last three months, I was at my best.
  </p>

  <p>
    Maybe I just needed a hole to sit in for a while. Maybe I was looking for something that couldn't be found in a happy life. Maybe the universe just doesn't care about me. I think all are probably true to some extent.
  </p>

  <p>
    In late august of 2015, while screaming into the void that is the internet, I came across something that would change my life. My second love, as it were. Stoicism.
  </p>
  <p>
    Philosophy was always something abstract to me. Something people with too much time argued about. This was different. This was practical. This was a way to deal with everything the world throws at you. Not just deal with, but to thrive on it.
  </p>
  <p>
    There was still something missing. It took me a long time to figure out what it was. Nearly a year. The code was missing.
  </p>

  <p>
    Coding, to me, is one of the most amazing activities the human species has invented. It's a puzzle. It's open ended. It's a way to control and order the world.
  </p>

  <p>
    Code is the closest thing human beings have to magic. The right characters, in the right order, in the right place, can change the world. If that isn't a spell, I don't know what is.
  </p>

  <p>
    Code may actually be better than magic. Code is understandable. Code is extendable. Code is not some arcane system devised by the gods (except COBOL). Code lives. Code breathes.
  </p>

  <p>
    And I love it.
  </p>

</div>
<script>
  $('#about').toggleClass('active');
</script>
